name: Sync to Staging

on:
  push:
    branches:
      - gh-pages

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN }}  # Use personal token for checkout

      - name: Configure Git
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "actions@github.com"

      - name: Push to staging repo
        run: |
          git remote add staging https://${{ secrets.GH_TOKEN }}@github.com/ChSchroeck/pendo-eu-crm1-dev.git
          git push staging gh-pages:main --force
